@model IEnumerable<SachOnline.Models.SACH>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Search</h2>
@using (Html.BeginForm("Search", "Search", FormMethod.Get))
{
    <p>

        <input type="text" name="strSearch" value="@ViewBag.Search" placeholder="Nhập sản phẩm cần tìm..." size="100" /> <input type="submit" value="Tìm kiếm" />

    </p>
}
@{
    if (Model != null)
    {
        <h2>Kết Quả Tìm Kiếm</h2>
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TenSach)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GiaBan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MoTa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AnhBia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NgayCapNhat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoLuongBan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaCD)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaNXB)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenSach)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GiaBan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MoTa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AnhBia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayCapNhat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoLuongBan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaCD)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaNXB)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.MaSach }) |
                        @Html.ActionLink("Details", "Details", new { id = item.MaSach }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.MaSach })
                    </td>
                </tr>
            }

        </table>
    }
}